*.pyc
asa-db.sqlite
asa-db.log
asadb/media/fysm/logos/
asadb/media/fysm/slides/
asadb/media/page-previews/fysm/
asadb/media/midway/maps/
asadb/settings/local.py
asadb/settings/local_after.py
asadb/util/saved-data/
asadb/util/static-data/
asadb/util/warehouse-dump.csv
constitutions
