{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="{{MEDIA_URL}}js/libs/chosen/chosen.css">
{% endblock %}

{% block title %}Membership update{% endblock %}
{% block content %}

<h2>Membership update</h2>

{% if message %}
<div class='messagebox {{message_type}}box'>
<p>{{message}}</p>
</div>
{% endif %}

<p>
The ASA is attempting to verify that all currently recognized groups are active
and have at least five student members.
</p>

<p>We ask you to help with that process by indicating what groups you consider yourself a member of.</p>

<h3>Groups you currently say you're a member of:</h3>
{% if member_groups %}
<table class='pretty-table'>
<thead>
<tr>
    <th>Group</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for group in member_groups %}
<tr>
    <th>{{group}}</th>
    <td><form action="" method="post">
        <input type="hidden" name="group" value="{{group.pk}}">
        {% csrf_token %}
        <input type="hidden" name="action" value="remove">
        <input type="submit" name="add-remove" value="Remove">
    </form></td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>You are not currently indicating membership in any groups.</p>
{% endif %}

<h3>Option 1: Add or remove groups that list a role for you</h3>

<table class='pretty-table'>
<thead>
<tr>
    <th>Group</th>
    <th>Roles</th>
    <th>Add/Remove</th>
</tr>
</thead>
<tbody>
{% for group, roles in role_groups.values %}
<tr>
    <th>{{group}}</th>
    <td>{{roles|join:", "}}</td>
    <td><form action="" method="post">
        <input type="hidden" name="group" value="{{group.pk}}">
        {% csrf_token %}
        {% if group in member_groups %}
        <input type="hidden" name="action" value="remove">
        <input type="submit" name="add-remove" value="Remove">
        {% else %}
        <input type="hidden" name="action" value="add">
        <input type="submit" name="add-remove" value="Add">
        {% endif %}
    </form></td>
</tr>
{% endfor %}
</tbody>
</table>

<h3>Option 2: Select all your groups at once</h3>

<p>Below, you can add or remove any recognized group from the list of groups you are a member of.</p>

<form enctype="multipart/form-data" method="post" action="">
{% csrf_token %}
<table class='pretty-table'>
{{ form.as_table }}
<tr><th colspan='2'><input type='submit' name='list' value='Update list of groups' /></th></tr>
</table>
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}js/libs/chosen/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#id_groups").chosen();
</script>

{% endblock %}
