{% extends "base.html" %}

{% block title %}ASA Group Database{% endblock %}
{% block content %}

<h1><a href='http://web.mit.edu/asa/'>ASA</a> Group Database</h1>

<p>Here you can find and submit information about groups recognized by the <a href='http://web.mit.edu/asa/'>MIT Association of Student Activities</a>.</p>

<h2>My Groups</h2>

{% if user.is_anonymous %}
<p><a href='{% url login %}'>Login</a> to see your groups.</p>
{% else %}
{%if not groups %}
<p>You do not currently appear to be listed with any groups.</p>
{% endif %}
{% endif %}

{% if groups %}
<ul>
{% for group in groups %}
    <li><a href='{% url groups:group-detail group.pk %}'>{{group}}</a></li>
{%endfor%}
</ul>
{% endif %}

<h2>Tools</h2>
<ul>
    <li><a href='http://web.mit.edu/asa/'>ASA Homepage</a></li>
    <li>General group information<ul>
        <li><a href='{%url groups:search%}'>Search groups</a></li>
        <li><a href='{%url groups:list%}'>List of groups</a></li>
        {%if perms.groups.view_signatories %}<li><a href='{% url groups:signatories %}'>View Signatories</a></li>{%endif%}
        {%if perms.groups.view_group_private_info %}
        <li><a href='{%url groups:reporting%}'>Reporting</a></li>
        <li><a href='{%url groups:constitutions%}'>Constitutions</a></li>
        {%endif%}
        <li><a href='{%url groups:account-lookup%}'>Account lookup</a></li>
    </ul></li>
    <li>First Year Summer Mailing<ul>
        <li><a href='{%url fysm%}'>View the entries</a></li>
        <li><a href='{%url fysm-select%}'>Submit an entry</a></li>
    </ul></li>
    {% comment %}
    <li>Membership updates<ul>
        <li><a href='{%url membership-update%}'>Group update</a></li>
        <li><a href='{%url membership-confirm%}'>Individual confirmations</a></li>
        <li><a href='{%url membership-submitted%}'>Groups with submitted updates</a></li>
        {% if perms.groups.view_group_private_info %}<li><a href='{%url membership-issues%}'>Issues</a> (CSV)</li>{% endif %}
    </ul></li>
    {% endcomment %}
    <li>Group recognition<ul>
        <li><a href='http://web.mit.edu/asa/start/new-group-app.html'>New Group Application</a></li>
        {%if perms.groups.add_group %}<li><a href='{% url groups:startup %}'>Startup form</a></li>{%endif%}
        {%if perms.groups.add_group %}<li><a href='{% url groups:startup-list %}'>Review startup applications</a></li>{%endif%}
        {%if perms.groups.recognize_nge %}<li><a href='{% url groups:recognize-nge %}'>Recognize Non-Group Entity</a></li>{%endif%}
    </ul></li>
    {% if perms.groups.view_group_private_info %}<li>Space access<ul>
        <li><a href='{% url space-dump-locker-access %}'>Locker access (CSV)</a></li>
        <li><a href='{% url space-dump-office-access %}'>Office access (CSV)</a></li>
    </ul></li>{% endif %}
    <li><a href='{% url about %}'>About the ASA Database</a><ul>
        <li><a href='{% url about-data %}'>Use of Data</a></li>
    </ul></li>
    <li>Related resources<ul>
        <li><a href='http://web.mit.edu/asa/'>Association of Student Activities (ASA)</a></li>
        <li><a href='http://studentlife.mit.edu/sao'>Student Activities Office (SAO)</a></li>
        <li><a href='http://studentlife.mit.edu/cac'>Campus Activities Complex (CAC)</a></li>
    </ul></li>
</ul>

{% if has_perms %}
<h2>Permissions</h2>

<p>You have the following permissions:</p>

<table class='pretty-table'>
<tr>
    <th>Name</th>
    <th>Description</th>
</tr>
{% for perm_name, perm_desc in has_perms %}
<tr>
    <td>{{perm_name}}</td>
    <td>{{perm_desc}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
