{% extends "base.html" %}

{% block title %}Association of Student Activities{% endblock %}
{% block content %}

<h1>Association of Student Activities (ASA)</h1>

<ul>
    <li><a href='{%url group-list%}'>List of groups</a></li>
    <li>First Year Summer Mailing<ul>
        <li><a href='{%url fysm%}'>View the entries</a></li>
        <li><a href='{%url fysm-select%}'>Submit an entry</a></li>
    </ul></li>
    {%if perms.groups.view_signatories %}<li><a href='{% url groups-signatories %}'>View Signatories</a></li>{%endif%}
</ul>

<h2>My Groups</h2>

{% if groupmsg %}
<p>{{groupmsg}}</p>
{% endif %}

{% if groups %}
<ul>
{% for group in groups %}
    <li><a href='{% url group-detail group.pk %}'>{{group}}</a></li>
{%endfor%}
</ul>
{% endif %}

{% if has_perms %}
<h2>Permissions</h2>

<p>You have the following permissions:</p>

<table class='pretty-table'>
<tr>
    <th>Name</th>
    <th>Description</th>
</tr>
{% for perm_name, perm_desc in has_perms %}
<tr>
    <td>{{perm_name}}</td>
    <td>{{perm_desc}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
