{% extends "base-plain.html" %}
{% load formcats %}

{% block title %}{{fysm.display_name}} (FYSM){% endblock %}
{% block content %}
<div class='fysm-detail'>

<div class='fysm-navstrip'>
<p class='back'>{% if prev %}
<a href='{% url "fysm-view" year prev.pk %}'>&laquo; Previous: {{prev.display_name}}</a>
{%else%}&nbsp;
{% endif %}</p>

<p class='forward'>{% if next %}
<a href='{% url "fysm-view" year next.pk %}'>Next: {{next.display_name}} &raquo;</a>
{%else%}&nbsp;
{% endif %}</p>

<p class='up'><a href='{% url "fysm" year %}'>&#x2B11; Up to Index &#x2B0F</a></p>

<div style='clear: both;'></div>
</div>

<div class='fysm-summarystrip'>
<p class='contact'><a href='mailto:{{fysm.contact_email}}'>Contact: {{fysm.contact_email}}</a></p>
<p class='website'><a href='{% url "fysm-link" year "website" fysm.pk %}'>Website</a></p>
<h3 class='display-name'>{{fysm.display_name}}</h3>
</div>

{% if fysm.slide %}
<div class='join-preview'>
<a href='{% url "fysm-link" year "join" fysm.pk %}'>
<img src='{{ MEDIA_URL }}{{fysm.slide}}' alt='{{fysm.display_name}} slide' />
</a>
</div>
{% endif %}

<div class='single-fysm-entry'>
    <div class='fysm-body'>
    <div class='logo'>
        {% if fysm.logo %}
        <img src='{{ MEDIA_URL }}{{fysm.logo}}' alt='{{fysm.display_name}} logo' />
        {% else %}
        <p>[ No logo ]</p>
        {% endif %}
    </div>
    <p class='data'>{{fysm.description}}</p>
    </div>
    <div style='clear: both;'></div>
    {% if fysm.tags %}
    <p class='tags'>tags: {{fysm.tags}}</p>
    {% endif %}
    {% if fysm.categories.all %}
    <p class='tags'>categories: {{fysm|format_categories:year}}</p>
    {% endif %}
</div>

</div>
{% endblock %}

