{% extends "base-plain.html" %}
{% load formcats %}

{% block title %}First Year Summer Mailing{% endblock %}
{% block content %}

<div class='fysm-summarystrip'>
<h3 class='display-name'>First Year Summer Mailing ({{year}})</h3>
</div>

<div style='margin: 1em;'>
<p>Hello incoming MIT students!</p>

<p>Student activities play an important role in student life at MIT &mdash; they're a
great place to meet people, practice old skills and learn new ones, have fun,
and give back to the community.  Undergraduate and graduate students, along
with other MIT community members, participate in more than 450 recognized
activities and organizations.  Below is an overview of some of these student
groups compiled by the <a href="http://web.mit.edu/asa">Association of Student
Activities (ASA)</a>.</p>

<p>If you can't find a particular group or activity, remember that these are
just some of the more than 450 groups recognized by the ASA.  You can also look
at a current listing of activities on the <a
href="http://web.mit.edu/asa/resources/group-list.html">ASA website</a>. If you
still can't find what you're looking for, then you can apply to <a
href="http://web.mit.edu/asa/start/index.html">start your own group</a>.</p>

<p>The ASA also organizes an Activities Midway during Orientation with booths
for more than 200 groups, lots of giveaways, and some performances.  The Midway
is the afternoon of Friday, September 2 in the Johnson Athletic Center.</p>

<p>You can learn more about the ASA and MIT student activities in general on <a
href="http://web.mit.edu/asa">our website</a>.</p>

<p>We look forward to seeing you in fall!</p>

<p>Sincerely,</p>
<p><a href="http://web.mit.edu/asa/about/board-members.html">The ASA Executive Board</a></p>

</div>

<div style='padding: 1em;'>
{% if category %}
<h2>{{category.name}} Groups</h2>
<p>{{category.blurb}}</p>
<p><a href='{% url fysm year %}'>Return to all categories</a></p>
{% else %}
<h3>View by Category</h3>
<p>In addition to the complete index below, you can click on one of these categories to look at a specific type of groups.</p>
<ul>
{% for cat in categories %}
<li><a href='{% url fysm year cat.slug %}'>{{cat}}</a></li>
{% endfor %}
</ul>
{% endif %}
</div>

{% for fysm in fysm_list %}
<div class='single-fysm-entry'>
    {% comment %}
    If we were cooler, years when we had slides would still link them here.
    We're not that cool, though, so we just always link the join page.
    {% endcomment %}
    <h3><a href='{% url fysm-link year "join" fysm.pk %}'>{{fysm.display_name}}</a></h3>
    <div class='fysm-body'>
    <div class='logo'>
        {% if fysm.logo %}
        <img src='{{ MEDIA_URL }}{{fysm.logo}}' alt='{{fysm.display_name}} logo' />
        {% else %}
        <p>[ No logo ]</p>
        {% endif %}
    </div>
    <p class='data'>{{fysm.description}}</p>
    <p class='join'><a href='{% url fysm-link year "join" fysm.pk %}'>Join {{fysm.display_name}}!</a> Have questions? Send them to <a href='mailto:{{fysm.contact_email}}'>{{fysm.contact_email}}</a>!</p>
    </div>
    {% if fysm.tags %}
    <p class='tags'>tags: {{fysm.tags}}</p>
    {% endif %}
    {% if fysm.categories.all %}
    <p class='tags'>categories: {{fysm|format_categories:year}}</p>
    {% endif %}
</div>
{% endfor %}

{% endblock %}

