{% extends "base.html" %}
{% load formcats %}

{% block title %}First Year Summer Mailing{% endblock %}
{% block content %}

<h2>First Year Summer Mailing ({{year}})</h2>

{% if category %}
<h2>{{category.name}} Groups</h2>
<p>{{category.blurb}}</p>
<p><a href='{% url fysm year %}'>Return to all categories</a></p>
{% else %}
<h3>View by Category</h3>
<ul>
{% for cat in categories %}
<li><a href='{% url fysm year cat.slug %}'>{{cat}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% for fysm in fysm_list %}
<div class='single-fysm-entry'>
    <h3><a href='{% url fysm-view year fysm.pk %}'>{{fysm.display_name}}</a></h3>
    <div class='fysm-body'>
    <div class='logo'>
        {% if fysm.logo %}
        <img src='{{ MEDIA_URL }}{{fysm.logo}}' alt='{{fysm.display_name}} logo' />
        {% else %}
        <p>[ No logo ]</p>
        {% endif %}
    </div>
    <p class='data'>{{fysm.description}}</p>
    <p class='join'><a href='{{fysm.join_url}}'>Join {{fysm.display_name}}!</a> Have questions? Send them to <a href='mailto:{{fysm.contact_email}}'>{{fysm.contact_email}}</a>!</p>
    </div>
    {% if fysm.tags %}
    <p class='tags'>tags: {{fysm.tags}}</p>
    {% endif %}
    {% if fysm.categories.all %}
    <p class='tags'>categories: {{fysm|format_categories:year}}</p>
    {% endif %}
</div>
{% endfor %}

{% endblock %}

