{% extends "base.html" %}

{% block title %}First Year Summer Mailing submission{% endblock %}
{% block content %}
<div class='fysm-submit'>

<h2>First Year Summer Mailing submission</h2>

<p>You are submitting a FYSM entry for {{group}}. You can see <a href='{% url "fysm" %}'>other group's entries</a> for ideas on what your entry should look like.</p>

<form enctype="multipart/form-data" method="post" action="">
{% csrf_token %}
<table class='pretty-table'>
{{ form.as_table }}
<tr><th colspan='2'><input type='submit' value='Submit FYSM entry' /></th></tr>
</table>
</form>

<h2>Categories</h2>

<p>Below you can find the descriptions of the categories that you can choose among.</p>

<table class='pretty-table'>
<thead>
<tr>
    <th>Name</th>
    <th>Description</th>
</tr>
</thead>
<tbody>
{% for category in categories %}
<tr>
    <th>{{category.name}}</th>
    <td>{{category.blurb}}</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>
{% endblock %}
