{% extends "base.html" %}

{% block title %}{{group.name}}: Space Access{% endblock %}
{% block content %}

<h1>{{group.name}}: Space Access</h1>

{% include "groups/group_tools.part.html" %}

{% if changes %}
<h2>Changes</h2>
<table class='pretty-table'>
<tr>
    <th>Action</th>
    <th>Space</th>
    <th>Person</th>
</tr>
{% for action,space,entry in changes %}
<tr>
    <td>{{action}}</td>
    <td>{{space}}</td>
    <td>{{entry.name}}</td>
</tr>
{%endfor%}
</table>
{%endif%}

<form enctype="multipart/form-data" method="post" action="">
{% csrf_token %}
<h2>Offices</h2>
{% if office_pairs %}
<table class='pretty-table'>
<tr>
    <th>Room</th>
    <th>Access</th>
</tr>
<tr>
    <th>All</th>
    <td>
        <ul>{% for person in office %}
            <li>{{person.format_person}}</li>
        {% endfor %}</ul>
        <p>Manage on the <a href='{% url groups:group-manage-officers group.id %}'>update people</a> page.</p>
    </td>
</tr>
{% for assignment, entries in office_pairs %}
<tr>
    <th>{{assignment.space}}</th>
    <td>
        {% with assignment.space.lock_type as lock_type %}
        {% if lock_type.db_update == "none" %}
        <p><strong>Warning: Access to this office is not managed through the ASA DB.</strong></p>
        <p><em><a href='{% url space-lock-type %}'>{{lock_type.name}}</a></em>: {{lock_type.description}}{% if lock_type.info_url %} <a href='{{lock_type.info_url}}'>Details.</a>{%endif%}</p>
        <p>Contact <a href='mailto:{{lock_type.info_addr}}'>{{lock_type.info_addr}}</a> for more information.</p>

        {% else %}

        <p>We recommend managing access on the <a href='{% url groups:group-manage-officers group.id %}'>update people</a> page if possible. You should only need to use this page if:</p>
        <ul>
            <li>You need to grant access to somebody who does not have an Athena account, or</li>
            <li>Your group has several offices, and somebody needs access to one or more of the offices, but should not have access to all of them</li>
        </ul>

        <table class='pretty-table'>
            <tr>
                {%if allow_edit%}<th>Grant</th>{%endif%}
                <th>Name</th>
                <th>MIT ID</th>
            </tr>
        {% for entry in entries %}
            <tr>
                {%if allow_edit%}<td><input type='checkbox' name='grant[{{assignment.pk}}][{{entry.pk}}]' checked='checked'></td>{% endif %}
                <td>{{entry.name}}</td>
                <td>{{entry.card_number}}</td>
            </tr>{% endfor %}
        {% for index in extras_indices %}
            <tr>
                <td></td>
                <td><input type='text' name='new[{{assignment.pk}}][{{index}}][name]'></td>
                <td><input type='text' name='new[{{assignment.pk}}][{{index}}][card]'></td>
            </tr>{% endfor %}
        </table>

        {% endif %}
        {% endwith %}

    </td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No office assigned.</p>
{% endif %}


<h2>Lockers</h2>
{% if locker_pairs %}
<table class='pretty-table'>
<tr>
    <th>Room</th>
    <th>Locker</th>
    <th>Access</th>
</tr>
<tr>
    <th colspan='2'>All</th>
    <td>
        <ul>{% for person in locker %}
            <li>{{person.format_person}}</li>
        {% endfor %}</ul>
        <p>Manage on the <a href='{% url groups:group-manage-officers group.id %}'>update people</a> page.</p>
        <p><a href='mailto:asa-exec@mit.edu'>Contact us</a> if you need to do something that page does not support &mdash; give access to somebody without an Athena account or give access to just one locker room your group has access to, for example. We will happily do either of those upon request.</p>
    </td>
</tr>
{% for assignment, entries in locker_pairs %}
<tr>
    <th>{{assignment.space.number}}</th>
    <th>{{assignment.locker_num}}</th>
    <td><ul>{% for entry in entries %}
        <li>{{entry.format_name}}</li>
    {% empty %}
        <li>No specific access</li>
    {% endfor %}</ul></td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No storage lockers assigned.</p>
{% endif %}

{% if allow_edit %}
<input type='submit' name='submit' value='Update' />
{% endif %}
</form>

{% endblock %}
