{% extends "base.html" %}

{% block title %}Use of Data{% endblock %}
{% block content %}

<h1>Use of Data</h1>

<p>The ASA Group Database contains information about ASA-recognized student groups at MIT, including contact information.</p>

<p>Contact information is made available to facilitate interested students getting involved in groups, and inter-group collaboration. <strong>It is not acceptable to contact groups en masse.</strong> If you have a service you wish to provide to all groups, or for some other reason want to contact more than a handful of groups, please <a href='http://web.mit.edu/asa/about/contact-info.html'>contact us</a> and we can work with you to appropriately advertise.</p>

<p>Further, it is inappropriate to use any of the information in the database for <strong>commercial or non-MIT purposes</strong> without contacting the <a href='http://web.mit.edu/asa/about/contact-info.html'>ASA Executive Board</a> for permission.</p>

<p>We appreciate your cooperation in allowing us to make this data broadly available.</p>

{% endblock %}
