{% extends "base.html" %}

{% block title %}Help &amp; About{% endblock %}
{% block content %}

<h1>Help &amp; About</h1>

<p>The ASA Group Database is provided principally for the use of the ASA Executive Board, MIT student group officers, current and potential group members, and MIT offices supporting those groups.</p>

<p>To contact the Association of Student Activities, please see <a href='http://web.mit.edu/asa/about/contact-info.html'>our contact information</a>. For issues directly about the ASA Group Database, please contact the database team at <a href='mailto:asa-db@mit.edu'>asa-db@mit.edu</a>. Make sure to <em>include your group's name</em>, and preferably a link to your group's database page. If you're following up on an email from us or the database, please make sure to <em>quote the original message</em>.</p>

<p>See also the following pages on the ASA website:</p>

<ul>
    <li><a href='http://web.mit.edu/asa/database/faq.html'>Frequently Asked Questions</a></li>
    <li><a href='http://web.mit.edu/asa/database/account-numbers.html'>Information on visibility of account numbers</a></li>
    <li><a href='http://web.mit.edu/asa/database/use-of-data.html'>Use of Data</a></li>
</ul>

<p>The database was originally developed by Alex Dehnert. Continuing maintenance has been by the ASA Executive Board, in particular Geoffrey Thomas and Rachel Meyer.</p>

{% endblock %}
