{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block content %}

<h1>About</h1>

<p>The ASA Group Database is provided principally for the use of the ASA Executive Board, MIT student group officers, current and potential group members, and MIT offices supporting those groups.</p>

<p>To contact the Association of Student Activities, please see <a href='http://web.mit.edu/asa/about/contact-info.html'>our contact information</a>. For issues directly about the ASA Group Database, please contact the database team at <a href='mailto:asa-db@mit.edu'>asa-db@mit.edu</a>.</p>

<p>See also:</p>

<ul>
    <li><a href='{% url about-data %}'>Use of Data</a></li>
    <li><a href='http://web.mit.edu/asa/database/account-numbers.html'>Information on visibility of account numbers</a> (on the ASA website)</li>
</ul>

<p>The database was originally developed by Alex Dehnert. Continuing maintenance has been by the ASA Executive Board, in particular Geoffrey Thomas and Rachel Meyer.</p>

{% endblock %}
