tr.sect-head td, tr.sect-head th
{
    padding-top: 1em;
    text-decoration: underline;
}
table.pretty-table
{
    border-collapse: collapse;
    margin: 0.5em;
}
table.pretty-table th, table.pretty-table td, table.pretty-table caption
{
    border: 1px solid black;
    padding: 2px;
}
table.pretty-table caption
{
    border-bottom: none;
}
table.pretty-table th, table.pretty-table caption
{
    font-weight: bold;
    background: #BE2933;
}
table.pretty-table th a, table.pretty-table caption a
{
    color: #008;
}

table.group-list tbody th
{
    text-align: left;
}

dl dt
{
    font-weight: bold;
}

ul.errorlist
{
    color: red;
}

div.messagebox
{
    padding: 0 10px 10px 10px;
    margin: 2em 0;
    border: 1px solid;
    width: 50%;
}
div.messagebox > h3
{
    margin: 0 -10px;
    padding: 2px 10px;
    margin-bottom: 1em;
}

div.infobox
{
    background-color: #afa;
    border-color: #0f0;
}

div.infobox h3 {
    background: #6f6;
}

div.warnbox
{
    background-color: #ffdf60;
    border-color: #ffbf00;
}

div.warnbox h3 {
    background: #faba00;
}

div.errorbox
{
    background-color: #faa;
    border-color: red;
}

div.errorbox h3 {
    background: #f88;
}

span.username
{
    font-family: "Courier", monospace;
}


/********
 * FYSM *
 ********/
.single-fysm-entry
{
    max-width:600px;
    clear:both;
    border: 1px solid #666;
    margin: 10px auto;
}

.single-fysm-entry h3, .fysm-summarystrip h3
{
    margin: 0 0 5px 0;
    padding: 2px 10px;
    background: #BE2933;
}

.single-fysm-entry h3 a, .fysm-navstrip a, .fysm-summarystrip a
{
    color:#fcfcfc;
    text-decoration: none;
}

.single-fysm-entry h3 a:hover, .fysm-navstrip a:hover, .fysm-summarystrip a:hover
{
    text-decoration: underline;
}

.single-fysm-entry .logo, .single-fysm-entry .nologo
{
    float: left;
    width: 100px;
    background: #eee;
    border: 2px solid black;
    margin: 10px 20px 10px;
    text-align: center;
    /*max-height: 104px;*/
}

.single-fysm-entry .nologo
{
    width: 100px;
    height: 100px;
    line-height: 90px;
}

.single-fysm-entry .logo img
{
    max-width:100px;
    max-height:100px;
}

.single-fysm-entry .data
{
    text-align: justify;
    margin: 10px 20px;
}

.single-fysm-entry .join
{
    clear:both;
    margin: 10px 20px;
}

.single-fysm-entry .fysm-body
{
    margin-bottom: 10px;
}

.single-fysm-entry .tags
{
    background: #ddd;
    border-top: 1px solid #666;
    padding: 4px;
    margin: 0px;
    text-align: center;
    font-size: smaller;
}

.fysm-submit td
{
    max-width: 30em;
    font-size: smaller;
}

.fysm-detail .back,
.fysm-summarystrip .contact
{ text-align: left;  float: left; }
.fysm-detail .forward,
.fysm-summarystrip .website
{ text-align: right; float: right; }
.fysm-detail .up,
.fysm-summarystrip .display-name
{ text-align: center; margin: auto; }

.fysm-detail .single-fysm-entry h3
{
    text-align: center;
    clear: both;
}

.fysm-navstrip, .fysm-summarystrip
{
    clear: both;
    margin: 0;
    padding: 0.5em 1em;
    background: #BE2933;
    border-bottom: 1px solid black;
}

.fysm-navstrip p, .fysm-summarystrip p
{
    margin: 0;
    min-width: 30%;
}

.fysm-detail .join-preview
{
    max-width: 600px;
    margin: 1em auto;
}
.fysm-detail .join-preview img
{
    max-width: 600px;
    max-height: 600px;
    display: block;
}


/*****************
 * GROUP DISPLAY *
 *****************/
tr.private-info th:before
{
    content: "\2020  ";
}

.group-detail-page h1 + p.group-status { margin-top: -1em; margin-bottom: 2em; }
.group-detail-page.group-status-active h1          { color: black; }
.group-detail-page.group-status-applying h1        { color: red; }
.group-detail-page.group-status-nge h1             { color: yellow; }
.group-detail-page.group-status-provisional h1     { color: yellow; }
.group-detail-page.group-status-derecognized h1    { color: red; }
.group-detail-page.group-status-suspended h1       { color: yellow; }

.group-list-page tr.group-status-active.group-active-True td.group-status
{
    background-color: green;
    color: black;
}
.group-list-page tr.group-active-True td.group-status
{
    background-color: yellow;
    color: black;
}
.group-list-page tr.group-active-False td.group-status
{
    background-color: red;
    color: black;
}


/* Reset some stuff */
h1, h2, h3, th
{
    font-family: "Trebuchet MS", sans-serif;
}
ul
{
    padding-left: 1em;
    margin-left: 0;
}

table.group-change-officers-change td
{
    text-align: center;
}

/*********
 * FORMS *
 *********/

form table tr.optional th
{
    font-weight: normal;
    font-style: italic;
}
