{% extends "base.html" %}

{% block title %}ASA: {{midway.name}}: upload assignments{% endblock %}
{% block content %}
<h2>{{midway.name}}: upload assignments</h2>

<form enctype="multipart/form-data" method="post" action="">
{% csrf_token %}
<table class='pretty-table'>
{{ form.as_table }}
<tr><th colspan='2'><input type='submit' value='Upload Assignments' /></th></tr>
</table>
</form>

<p>You may wish to <a href='{% url admin:forms_midwayassignment_changelist %}?midway__id__exact={{midway.pk}}'>modify the assignments</a> or <a href='{% url midway-map midway.slug %}'>view the map</a>.</p>

{% endblock %}
