{% extends "base.html" %}
{% load form_utils_tags %}

{% block title %}{{group.name}}: Change main information {% endblock %}
{% block content %}

<h1>{{group.name}}: Change main information</h1>

{% if msg %}
<p>{{msg}}</p>
{% endif %}

<form enctype="multipart/form-data" method="post" action="">
{% csrf_token %}
{{ form|render }}
<input type='submit' value='Update' />
</form>

<h2>Other Options</h2>

<ul>
    <li><a href='{% url groups:group-manage-history group.pk %}'>View update history</a></li>
    <li><a href='{% url groups:group-manage-officers group.pk %}'>Update officers, signatories, etc.</a></li>
</ul>

{% endblock %}
