{% extends "base.html" %}

{% block title %}Signatory list{% endblock %}
{% block content %}

<h1>Signatory list</h1>

<h2>Search</h2>

<form action="" method="get">
    <table class='pretty-table'>
    {{ filter.form.as_table }}
    </table>
    <input type="submit" value="Search" />
</form>

<h2>The Groups</h2>

<table class='pretty-table group-list'>
<thead>
<tr>
    <th></th>
    {% for role in roles %}
    <th>{{role.display_name}}{% if not role.publicly_visible%} (not publicly viewable){%endif%}</th>
    {% endfor %}
</tr>
</thead>
<tbody>
{%for group, role_list in officers %}
<tr>
    <th>
        <a href='{% url groups:group-detail group.pk %}'>{{group}}</a> ({{group.group_status}})
        {% if group.abbreviation %}<br>Abbreviation: {{group.abbreviation}}{% endif %}
        {% if user.is_authenticated and group.officer_email %}<br>Officer list: {{group.officer_email}}{% endif %}
    </th>
    {%for holders in role_list%}
    <td>{% if holders %}<ul>{% for person in holders %}<li>{{person}}</li>{%endfor%}</ul>{% endif %}</td>
    {%endfor%}
</tr>
{%endfor%}
</tbody>
</table>

{% endblock %}
