{% extends "base.html" %}

{% block title %}Search Groups{% endblock %}
{% block content %}

<h1>Search Groups</h1>

<form action="" method="get">
    <table class='pretty-table'>
    {{ filter.form.as_table }}
    </table>
    <input type="submit" name="group-goto" value="Show Group Information" title="If exactly one group matches, go directly to that group's database entry. Otherwise, show the group list." />
    <input type="submit" name="group-list" value="Show Group List" />
    {% if perms.groups.view_signatories %}
    <input type="submit" name="signatories" value="Show Signatories" />
    {% endif %}
</form>

{% endblock %}
