{% extends "base.html" %}

{% block title %}Signatory list{% endblock %}
{% block content %}

<h1>{{group.name}}: Change people</h1>

{% if changes %}
<table class='pretty-table'>
<tr>
    <th>Action</th>
    <th>Person</th>
    <th>Role</th>
</tr>
{% for verb, color, person, role in changes %}
    <tr><td style='background-color: {{color}}; color: black'>{{verb}}</td><td>{{person}}</td><td>{{role.display_name}}</td></tr>
{% endfor %}
</table>
{% endif %}

{%if edited %}
<p>Untouched were {{kept}} filled people/role combinations and {{kept_not}} unfilled combinations.</p>
{% endif %}

<table class='pretty-table'>
<thead>
<tr>
    <th></th>
    {% for role in roles %}
    <th>{{role.display_name}}</th>
    {% endfor %}
</tr>
</thead>
<tbody>
{%for group, role_list in officers %}
<tr>
    <th>{{group}}</th>
    {%for holders in role_list%}
    <td><ul>{% for person in holders %}<li>{{person}}</li>{%endfor%}</ul></td>
    {%endfor%}
</tr>
{%endfor%}
</tbody>
</table>

{% endblock %}
