{% extends "base.html" %}
{% load form_utils_tags %}

{% block title %}{{group.name}}: Change main information {% endblock %}
{% block content %}

<h1>{{group.name}}: Change main information</h1>

{% include "groups/group_tools.part.html" %}

<p>Please make sure to keep the information about your group up-to-date. As always, if you have trouble (or need to update a field that you don't have access to), please <a href='mailto:asa-exec@mit.edu'>contact us</a>.</p>

{% if msg %}
<p>{{msg}}</p>
{% endif %}

<form enctype="multipart/form-data" method="post" action="">
{% csrf_token %}
{{ form|render }}
<input type='submit' value='Update' />
</form>


{% endblock %}
