{% extends "base.html" %}

{% block title %}{{group.name}}: Update people{% endblock %}
{% block content %}

<h1>{{group.name}}: Update people</h1>

{% include "groups/group_tools.part.html" %}

<p>Please adjust the people associated with your group below.</p>

<h2>Available roles</h2>

<table class='pretty-table'>
<tr>
    <th>Role</th>
    <th>Description</th>
    <th>Maximum allowed</th>
    <th>Requires student?</th>
</tr>
{% for role in roles %}
<tr>
    <th>{{role.display_name}}</th>
    <td>{{role.description}}</td>
    <td>{{role.max_count_str}}</td>
    <td>{% if role.require_student %}Yes{%else%}No{%endif%}</td>
</tr>
{% endfor %}
</table>

{% if msgs %}
<h2>Messages</h2>
<ul>
{% for msg in msgs %}
<li>{{msg}}</li>
{%endfor %}
</ul>
{%endif%}

{% if changes %}
<h2>Changes made</h2>
<table class='pretty-table'>
<tr>
    <th>Action</th>
    <th>Person</th>
    <th>Role</th>
</tr>
{% for verb, color, person, role in changes %}
    <tr><td style='background-color: {{color}}; color: black'>{{verb}}</td><td>{{person}}</td><td>{{role.display_name}}</td></tr>
{% endfor %}
</table>
{% endif %}

<h2>Option 1: View and update people one at a time</h2>

<p>Please note:</p>
<ul>
    <li>We don't track "group membership" &mdash; people will show up in the list below only if they have one of the roles listed</li>
    <li>Type only the <em>Athena username</em> to add people &mdash; do not type full names or names plus username</li>
    <li>To add <em>more than four</em> new people, add four at a time and <em>submit multiple times</em></li>
</ul>

<form enctype="multipart/form-data" method="post" action="">
<input type='hidden' name='opt-mode' value='table' />
{% csrf_token %}
<table class='pretty-table group-update-people-change'>
<thead>
<tr>
    <th></th>
    {% for role in roles %}
    <th>{{role.display_name}}</th>
    {% endfor %}
</tr>
</thead>
<tbody>
{%for specify_name, person, formatted_name, role_list in officers %}
<tr>
    <th>
        {% if specify_name %}
        <input type='text' name='{{person}}' value=''>
        {% else %}
        {{formatted_name}}
        {% endif %}
    </th>
    {%for role,val in role_list%}
    <td><input type='checkbox' name='holders.{{role.slug}}' value='{{person}}' {%if val%}checked='checked'{%endif%}></td>
    {%endfor%}
</tr>
{%endfor%}
</tbody>
</table>

<input type='submit' value='Update' />
</form>

{%if edited %}
<p>Untouched were {{kept}} filled people/role combinations and {{kept_not}} unfilled combinations.</p>
{% endif %}

<h2>Option 2: Bulk update</h2>

<form enctype="multipart/form-data" method="post" action="">
<input type='hidden' name='opt-mode' value='bulk' />
{% csrf_token %}
<table class='pretty-table'>
{{ bulk_form.as_table }}
<tr><th colspan='2'><input type='submit' value='Update' /></th></tr>
</table>
</form>

{% endblock %}
