{% extends "base.html" %}

{% block title %}MIT Student Groups{% endblock %}
{% block content %}

<h1>MIT Student Groups</h1>

<h2>Search</h2>

<form action="" method="get">
    <table class='pretty-table'>
    {{ filter.form.as_table }}
    </table>
    <input type="submit" value="Search" />
</form>

<h2>The Groups</h2>

<table class='pretty-table group-list'>
<thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Website</th>
        <th>ASA DB</th>
        <th>Description</th>
        <th>Meeting Time</th>
    </tr>
</thead>
<tbody>
{% for group in group_list %}
    <tr class='group-status-{{group.group_status.slug}} group-active-{{group.group_status.is_active}}'>
        <th>{{group.name}}</th>
        <td class='group-status'>{{group.group_status}}</td>
        <td>{% if group.website_url %}<a href='{{group.website_url}}'>Website</a>{%endif%}</td>
        <td><a href='{% url groups:group-detail group.pk %}'>DB Entry</a></td>
        <td>{{group.description}}</td>
        <td>{{group.meeting_times}}</td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
