{% extends "base.html" %}

{% block title %}{{group.name}}{% endblock %}
{% block content %}

<h1>{{group.name}}{% if group.abbreviation %} ({{group.abbreviation}}){%endif%}</h1>

{% if adminpriv %}{% include "groups/group_tools.part.html" %}{%endif%}

<table class='pretty-table'>
<tr><th colspan='2'>Basic Information</th></tr>
<tr><th>Name</th><td>{{group.name}}</td></tr>
<tr>
    <th>Abbreviation</th>
    <td>{%if group.abbreviation%}{{group.abbreviation}}{%else%}<i>none</i>{%endif%}</td>
</tr>
<tr><th>Type</th><td>{{group.activity_category}}</td></tr>
<tr><th>Description</th><td>{{group.description}}</td></tr>

<tr><th colspan='2'>Contact Information</th></tr>
<tr><th>Website</th><td><a href="{{group.website_url}}">{{group.website_url}}</a></td></tr>
<tr><th>Meeting times</th><td>{{group.meeting_times}}</td></tr>
<tr><th>Officer email</th><td>{% if user.is_authenticated %}{{group.officer_email}}{% else %}[<a href='{% url login %}'>log in</a> to see emails]{% endif %}</td></tr>
{% if viewpriv %}<tr class='private-info'>
    <th>Group email</th>
    <td>{{group.group_email}}</td>
</tr>{% endif %}

<tr><th colspan='2'>People</th></tr>
{% if user.is_authenticated %}
{% for name, role, people in roles %}
<tr>
    <th>{{name}}{%if not role.publicly_visible %}*{%endif%}</th>
    <td><ul>
    {% for person in people %}<li>{{person.format_person}}</li>{%endfor%}
    </ul></td>
</tr>
{% endfor %}
{% else %}
<tr><td colspan='2'>[<a href='{% url login %}'>log in</a> to see people involved]</td></tr>
{% endif %}

<tr><th colspan='2'>Recognition</th></tr>
<tr><th>Group status</th><td>{{group.group_status.name}}</td></tr>
<tr><th>Group class</th><td>{{group.group_class.name}}</td></tr>
<tr><th>Recognition date</th><td>{{group.recognition_date}}</td></tr>

<tr><th colspan='2'>Financial Information</th></tr>
<tr><th>Funding status</th><td>{{group.group_funding}}</td></tr>
{% if viewpriv %}
<tr class='private-info'><th>Main Account</th><td>{{group.main_account_id}}</td></tr>
<tr class='private-info'><th>Funding Account</th><td>{{group.funding_account_id}}</td></tr>
{% endif %}

<tr><th colspan='2'>Additional Information</th></tr>
{% if viewpriv %}
<tr class='private-info'>
    <th>Constitution</th>
    <td>{% if group.constitution_url %}<a href='{{group.constitution_url}}'>{{group.constitution_url}}</a>{%else%}<i>not provided</i>{%endif%}</td>
</tr>
{% endif %}
<tr>
    <th>Advisor</th>
    <td>{{group.advisor_name}}</td>
</tr>
<tr><th>Athena locker</th><td>{{group.athena_locker}}</td></tr>
<tr><th>Last updated</th><td>{{group.update_string}}</td></tr>

{% if viewpriv %}
<tr class='private-info'><th colspan='2'>Information that is not available to the general MIT community.</th></tr>
{% endif %}

</table>

<table class='pretty-table'>
<caption>Group Size</caption>
<tr>
    <th>Undergraduates</th>
    <th>Graduate Students</th>
    <th>MIT Community</th>
    <th>Other</th>
</tr>
<tr>
    <td>{{group.num_undergrads}}</td>
    <td>{{group.num_grads}}</td>
    <td>{{group.num_community}}</td>
    <td>{{group.num_other}}</td>
</tr>
</table>

<h2>My Connection</h2>

{% if my_roles %}
<p>You have the following connections to this group:</p>
<table class='pretty-table'>
<tr>
    <th>Connection</th>
    <th>Description</th>
</tr>
{% for holder in my_roles %}
<tr>
    <th>{{holder.role.display_name}}</th>
    <td>{{holder.role.description}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No roles in this group.</p>
{% endif %}

<h2>Notes</h2>

{% if notes %}
<table class='pretty-table'>
<thead>
{% include "groups/note/detail.head.html" %}
</thead>
<tbody>
{% for note in notes %}
{% include "groups/note/detail.row.html" %}
{% endfor %}
</tbody>
</table>
{% else %}
<p>No notes are visible to you at this time.</p>
{% endif %}

{% if perms.groups.add_groupnote %}
<p><a href='{% url admin:groups_groupnote_add %}'>Add note</a></p>
{% endif %}

{% endblock %}

