{% extends "base.html" %}
{% load form_utils %}

{% block title %}Reporting{% endblock %}
{% block content %}

<h1>Reporting</h1>

<div class='toolbox'>
<h2>Sections</h2>
<ul>
<li><a href='#results'>Results</a></li>
<li><a href='#config'>Configuration</a></li>
</ul>
</div>

<h2><a name='results'></a>Results</h2>
{% if run_report %}

<p>Found {{report_groups|length}} groups:</p>

<table class='pretty-table'>
<thead>
    <tr>
        {% for col in column_labels %}<th>{{col}}</th>{%endfor%}
    </tr>
</thead>
<tbody>
    {% for row in report_groups %}
    <tr>
        {% for col in row %}<td>{{col}}</td>{% endfor %}
    </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
<p>No results yet. Configure your report below to get some.</p>
{% endif %}

<h2><a name='config'></a>Configuration</h2>
<form action="" method="get">
    {{ form|render }}
    <input type="submit" name="go" value="Go" />
</form>

{% endblock %}
