{% extends "base.html" %}

{% block title %}Log in to ASA website{% endblock %}

{% block content %}

<h2>Log in to ASA website</h2>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<p>You should be able to log-in using MIT certificates. If you have trouble, please verify that you have unexpired certificates by visiting <a href='https://web.mit.edu/consult/www/certificate/test.html'>the IS&amp;T certificate test page</a>. If you don't have certificates, you should <a href='https://ca.mit.edu/ca/'>get them</a>. If you have certificates but still have trouble, please email <kbd>asa-db</kbd> and tell us what browser and OS you are using.</p>

<p>In the unlikely event that you have a username and password, you can log in below.</p>

<form method="post" action="{% url login %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
